# Files
*.exe
*.launch
*.ld
credentials.json
token.pickle
.cproject
.project
.DS_Store

# Book code
Data Files/

# Jupyter Notebook
.ipynb_checkpoints

.vscode/
dev/
practice/
*_repo/
*_code/
*_env/
__pycache__/
deeplearningAI/tf_dev_certificate/.git
deeplearningAI/tf_dev_certificate/tensorflow-1-submodule
deeplearningAI/tf_dev_certificate/.gitignore
deeplearningAI/tf_dev_certificate/.gitmodules
deeplearningAI/tf_dev_certificate/LICENSE

# STM32
.metadata/
.settings/
CMSIS/
Debug/
Startup/
