# Files
*.exe
*.launch
*.ld
credentials.json
token.pickle
.cproject
.project
.DS_Store

# Book code
Data Files/

# Jupyter Notebook
.ipynb_checkpoints

.vscode/
dev/
practice/
*_repo/
*_code/
*_env/
__pycache__/
data/

# STM32
.metadata/
.settings/
CMSIS/
Debug/
Startup/
